# ===============================
# Next.js
# ===============================
.next/
out/
build/

# ===============================
# Node
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Prisma
# ===============================
prisma/dev.db
prisma/dev.db-journal

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs
# ===============================
.vscode/
!.vscode/extensions.json

.idea/
*.swp
*.swo

# ===============================
# Coverage / Tests
# ===============================
coverage/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Misc
# ===============================
.vercel/
.turbo/
