@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-900;
}

.input {
  @apply w-full border rounded px-3 py-2;
}

.btn-primary {
  @apply bg-indigo-600 text-white py-2 rounded hover:bg-indigo-700;
}
